@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



.active-tab{
    @apply text-[#5A0000]
}

.active-language{
    @apply bg-gold rounded-full  text-black-base 
}
.owl-carousel-beranda .owl-dots button.owl-dot span{
  @apply transition-all duration-300 bg-[#D7D7D7]
}

.owl-carousel-beranda .owl-dots button.owl-dot.active span{
  @apply bg-[#FEFEFE] w-[26.5px]
}

.owl-carousel-kabar-terbaru .owl-dots button.owl-dot span{
  @apply transition-all duration-300 bg-[#888888]
}

.owl-carousel-kabar-terbaru .owl-dots button.owl-dot.active span{
  @apply bg-gold
}

.owl-carousel-kabar-terbaru .owl-item.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.owl-carousel-kabar-terbaru .owl-item.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}









@theme {
    --font-roboto: "Roboto", serif;
    --font-montserrat :  "Montserrat", serif;
    --color-primary : #5A0000;
    --color-black-base: #191919;
    --color-black-secondary: #393934;
    --color-gold: #BD9151;
  }
@plugin 'tailwind-scrollbar';

  

  @layer utilities {
    [x-cloak] {
      display: none !important;
    }
  }